*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
    

}
:root{
    --primary-color:#000;
    --secondary-color:#fff;
}

html{
    scroll-behavior: smooth;
    
}
body{
    background: var(--primary-color);
    color: var(--secondary-color);
    
}


/* ---------------------------------------video-background-screen-------------------- ---------------- */
/* .back-img{
    position:absolute;
    right: 10px;
    top: 50px;
    bottom: 50px;
    opacity: .6;
    z-index: -1;
    height: 600px;
    width: 600px;
}
img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background: linear-gradient(rgba(26, 210, 54, 0.1), rgba(212, 75, 75, 0.1));
  }
   */

/* ----------------preloader -----------------------*/

#preloader{
    background: #000 !important;
    background-size: 30%;
    height:100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  h5 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #40c0da;
  }
.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
}
.loader{
    padding: 5px;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 5px solid#000;
    border-radius: 50%;
    border-bottom: 5px solid #40c0da;
    border-top: 5px solid #40c0da;
    animation: rotate 5s linear infinite;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg) ;
    }
}
  
  .loading {
    animation: ellipsis 1.5s infinite;
  }
  
  @keyframes ellipsis {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

#header {
  width: 100%;
  height: 100vh;
}
/* container css for all containers in the page  */
.container{
    padding: 10px 5%;
    
}
/* ==================half-color in the heading ================= */
.head{
    color:#00fbff
}




/* nav-bar css */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/* img.logo-1 {
   
    padding: 10px;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  } */
  

.logo{
    width: 100px;
    
}

nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00fbff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: rgb(0, 251, 255);
}


/* ===============about============== */

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
}
#about{
    padding: 80px 0;
    color: #f0eeeedf;
}
.about-col-1{
    flex-basis: 37%;
    
}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;    
}
.about-col-2{
    flex-basis: 60%;
    display: flex; 
  flex-direction: column;}
  
.col0-2-1{
  flex-basis: calc(20% );
  background-color: #232020;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 10px; 
}

.col0-2-1 h3{
    text-align: center;
}

.div {
  margin-bottom: 10px;
  
}

.sub-tittle{
    font-size: 60px;
    font-weight: 600;
    color: var(--secondary-color);
}


/*-------------------- services css------------------------------------------------- */

#services{
    padding: 30px 0;

}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div p{
    font-size: 16px;
}
.services-list div p::before{
    content: '\2713';
    color:#ffffff;
    font-weight: bold;
    margin-right:8px ;
}
.services-list div h2{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #00ebfc;
    background: linear-gradient(#14d3e0,#13dbea);
    transform: translateY(-8px);
}

/*--------------------------- portfolio------------------------------------ */

#portfolio{
    padding: 50px 0;
}

/* ========================================================================== */

.Head-cat-1{
    padding: 10px;
    margin: 20px;
    color: #a9fbfb;
    font-weight: 2000;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    margin-top: 50px;

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(1, 133, 156, 0.655),rgba(1, 133, 156, 0.849));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 5px;

}
.layer a{
    margin-top: 10px;
    color: #0f0f0f;
    text-transform: none;
    font-size: 12px;
    line-height: 40px;
    background: var(--secondary-color);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
    filter: blur(8px);
}
.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #07fafa;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--secondary-color);
    transition: background 0.5s ;
}
.btn.btn2:hover{
    background: #1aa3a3;
}


/* ================================ Data Analysis =============================================== */


.card{
  border-radius: 8px;
  margin: 20px;
  max-width: 400px;
  width: 100%;
  position: relative;
  display: block;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  border-radius: 1rem;
  background: #262626;

}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 50px;
}

.card img{
  width: 100%;
  height: auto;
  transform-origin: center;
}


.card-content{
  padding: 16px;
}

.card-content h3{
  font-size: 20px;
  margin-bottom: 10px;
}
.card-content p{
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.3;
}
.card-content a{
    margin-top: 15px; 
    color: #0f0f0f;
    text-transform: none;
    font-size: 12px;
    line-height: 40px;
    background: var(--secondary-color);
    width: 100px; 
    height: 40px; 
    border-radius: 20px; 
    text-align: center;
    display: inline-block;
}

/*========================== Contact css ========================================*/
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top:30px ;
}
.contact-left p i{
    color: #00fffb;
    margin-right: 15px;
    font-size: 25px;
}
.socail-icons{
    margin-top: 30px;
}
.socail-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab ;
    display: inline-block;
    transition: transform 0.5s;
}
.socail-icons a:hover{
    color: #00ffff;
    transform: translateY(-5px);
}
.btn.btn2{
    display:inline-block ;
    background: #000000fb;
    
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: var(--secondary-color);
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}


.copyright{
    width: 100%;
    text-align: center;
    padding: 25px  0;
    background: #4e4d4d;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}


nav .fas{
    display: none;
}


#msg{
    color: #61b752;
    margin-top:-40px ;
    display: block;

}

/* ================================= Respomsive ====================================*/
@media (max-width:950px){  


    #about{
        margin-top: -10%;
    }
    .about-col-1 img {
        height: 100%;
    }


}



@media (max-width:850px){    
    .header-text{
        margin-top: 40%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }


    #about{
        margin-top: -10%;
    }
    .about-col-1 img {

        width: 100%;
        height: 95%;
        border-radius: 20px;
    }

}


@media (max-width:765px){    
    .header-text{
        margin-top: 40%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav ul{
        background:#5bcbd3;
        position: fixed;
        top: 0;
        right:-200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    .sub-tittle{
        font-size: 40px;
    }


    #about{
        margin-top: -10%;
    }
    .about-col-1 img {

        width: 100%;
        height: auto;
        border-radius: 20px;
    }



    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom:30px ;
    }
    .about-col-2{
        font-size: 14px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}








@media (max-width: 494px) {
    #header {
        width: 100%;
        height: 81vh;
      }


    .container{
        padding: 10px 5%;
        
    }

    .card{
        border-radius: 8px;
        margin: 20px;
        max-width: 270px;
        width: 100%;
        position: relative;
        display: block;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
        border-radius: 1rem;
        background: #262626;
      
      }






}
